<!DOCTYPE html>
<html lang="en">

<head>
    <title>Quotr</title>


    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">



</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="../static/index.js"></script>


<body>

    <div class="container">
        <div class="header">
            <nav>
                <!-- <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="#">Home</a>
                    </li>
                    <li role="presentation"><a href="#">Sign In</a>
                    </li>
                    <li role="presentation"><a href="showSignUp">Sign Up</a>
                    </li>
                </ul> -->
            </nav>
            <h3 class="text-muted">Connecting you with the quotes of the astute since 2018</h3>
        </div>

        <div class="jumbotron">
            <h1>QUOTR</h1>
            <p class="lead"></p>
            <h1> INSERT A NEW QUOTE TO SHARE WITH OTHERS!!  </h1>

        <form>
            <!-- Id
            <input type="Text" id="Id" name="Id"/>
            </br> -->

            Author
            <input type="Text" id="Author" name="Author"/>
            </br>

            Booktitle
            <input type="Text" id="BookTitle" name="BookTitle"/>
            </br>

            Quote
            <input type="Text" id="Quote" name="Quote"/>
            </br>

            <input type="Button" id="Button1" value="Add row!" name="addrow" onclick=addQuotes() />

            </br>

            Search for Quotes by typing an author's name!!! (Working examples to try: Socrates, Aristotle)
            </br>
            <input type="Text" id="QuoteSearch" name="QuoteSearch"/>

            </br>
            <input class="btn btn-lg btn-success" type="Button" id="Button2" value="Show Quotes!" name="showsimilar" onclick=returnQuotesbyBook() />


        </form>

          </br>
          <div class="row marketing" id="result"> QUOTES WILL APPEAR HERE! </div>

            <!-- <p><a class="btn btn-lg btn-success" href="showSignUp" role="button">Sign up today</a>
            </p> -->
        </div>

        <div class="row marketing">
            <div class="col-lg-6" id="printquotes">
                <h4>Application</h4>
                <p>This app was created to host interesting quotes from authors that users enjoy. Current emphasis
                was given on having a working website and show the improvement of Redis caching a MySQL database
              but in the future it will be able to include a ranking system as well as user logins. </p>

                </p>
            </div>

            <div class="col-lg-6">
                <!-- <h4>Bucket List</h4>
                <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

                <h4>Bucket List</h4>
                <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

                <h4>Bucket List</h4>
                <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p> -->
            </div>
        </div>

        <footer class="footer">
            <p>&copy;  Iason Myttas, COMSM0010, 2018 </p>
        </footer>

    </div>
</body>

</html>
